---
layout: new
---
<div class="blue">
        <div class="content">
                <h1>Customer Success Bootcamp</h1>
                <p>The best way to learn is to teach, so I figured why not go all in and work a bootcamp for people to learn the ins and outs of how to be good at Customer Success. Learning as I go! One of the key concepts that fascinates me is the commonalities between relationship based Customer Success, and marketing - particualrly the customer focused part of it.</p>
        </div>
</div>   


<div class="blue">
{% for post in site.categories.customer-success %}
        {% for category in posts.categories %}
        "{{ category | first }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
<div class="content">
         <article class="post">
      <!---<img src="{{ post.headerimg }}">--->
      <h2>{{ post.title }}</h2>

      <div class="entry">
       {{ post.content | truncatewords: 50 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more button">Read the article <i class="far fa-hand-point-right"></i></a>
    </article>
</div>
  {% endfor %}
</div>

<div class="orange">
        <div class="content">
                <p>Want more content like this? Sign up to my mailing list - a semi-regular email about my learning in Customer Success, my thoughts on the Tech world, and other streams of conciousness I might write.</p>
        </div>
</div>
