---
layout: default
---
<div class="all-categories">
<h2>Categories</h2>
<div class="category-button-holder">
{% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
      <div class="category-button-out"><a href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}" class="butt">{{ category | capitalize }} ({{ site.tags[category].size }})</a></div>
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
      <div class="category-button-out"><a href="#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}"class="butt">{{ category[0] | capitalize }} ({{ category[1].size }})</a></div>
    {% endfor %}
  {% endif %}
{% assign categories_list = nil %}

<div class="clear"></div>
</div>

{% for category in site.categories %}
  <h3 id="{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | capitalize }}</h3>
  
    {% assign pages_list = category[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <div class="category-link">
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> 
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>

      </div>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  
{% endfor %}
</div>
