---
layout: default
---

<div class="featured-posts-container">
<div class="featured-posts">
  <h4>Featured article</h4>
  {% for post in site.categories.featured | limit: 1 %}
        {% for category in posts.categories %}
        "{{ category | first }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
    <article class="post">
      <img src="{{ post.headerimg }}">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
       {{ post.content | truncatewords: 40 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read the article &#8594;</a>
    </article>
  {% endfor %}
</div>
<div class="home-social">
  <div class="bio">
    <div class="avatar">
      <img src="https://www.benhubbard.co.uk/assets/img/profilepic.jpg" alt="Photo of Ben Hubbard" class="profile-pic">
    </div>
    <div class="bio-text">
      <p>I'm Ben. By day, I do customer success at Taxi for Email and being a bit of an #emailgeek. By night, I run, eat, and make stuff.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="instagram-home half">
    <a href="https://www.instagram.com/benhubbard434/"><img src="assets/img/insta-icon-white.png" alt="Instagram Logo" class="social-icon-home">Instagram</a>
  </div>
  <div class="spotify-home half">
    <a href="https://open.spotify.com/playlist/1V4K1ZZ4SKAJdLvrh7O7lS?si=NWrzJ-IBTviACR6EboDx2A"><img src="assets/img/spotify-icon.png" alt="Spotify Logo" class="social-icon-home">Spotify playlist</a>
  </div>
</div>
</div>
<div class="home-posts">
  

 <h4>Latest articles</h4>
  
 
  {% for post in site.posts | limit: 3 %}
        
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
       {{ post.content | truncatewords: 50 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read the article &#8594;</a>
    </article>
  {% endfor %}
  
  
    <div class="clear"></div>
    <div class="button-holder">
        <div class="big-button"><h4><a href="http://benhubbard.co.uk/blog/">Read all articles &#8594;</a></h4></div>
    </div>
</div>
<div class="clear"></div>


