---
layout: new
---
<div class="pink">
        <div class="content">
                <h2>Notebook</h2>
                <p>A collection of my thoughts - a sporadic stream of conciousness if you will.</p>
        </div>
</div>

<div class="pink">
{% for post in site.categories.notebook %}
        {% for category in posts.categories %}
        "{{ category | first }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
<div class="content">
    <article class="post">
      <!---<img src="{{ post.headerimg }}">--->
      <h2>{{ post.title }}</h2>

      <div class="entry">
       {{ post.content | truncatewords: 50 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more button">Read the article <i class="far fa-hand-point-right"></i></a>
    </article>
</div>
  {% endfor %}
</div>

<div class="orange">
        <div class="content">
                <p>Want more content like this? Sign up to my mailing list - a semi-regular email about my learning in Customer Success, my thoughts on the Tech world, and other streams of conciousness I might write.</p>
        </div>
</div>
