---
layout: new
---
<div class="purple">
        <div class="content">
                <h1>Tech Thoughts</h1>
                <p>Sometimes I write about the world of the tech industry, marketing, Saas startups and remote working.</p>
                <p>I'm really interested in the tools which help us to work, particuarly since the world had to transition to working remotely.</p>
        </div>
</div>

<div class="purple">
{% for post in site.categories.tech %}
        {% for category in posts.categories %}
        "{{ category | first }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
<div class="content">
    <article class="post">
      <!---<img src="{{ post.headerimg }}">--->
      <h2>{{ post.title }}</h2>

      <div class="entry">
       {{ post.content | truncatewords: 50 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more button">Read the article <i class="far fa-hand-point-right"></i></a>
    </article>
</div>
  {% endfor %}
</div>

<div class="orange">
        <div class="content">
                <p>Want more content like this? Sign up to my mailing list - a semi-regular email about my learning in Customer Success, my thoughts on the Tech world, and other streams of conciousness I might write.</p>
        </div>
</div>
