<div class="logo-header">
  <div class="logo-holder">
    <h1 class="logo-text"><a href="http://www.benhubbard.co.uk">Ben Hubbard</a></h1>
  </div>
  <div class="menu-container">
    <div class="menu-holder">
      <ul class="menu-text">
        <li><a href="http://www.benhubbard.co.uk/blog" class="link-border">Articles</a></li>
        <li class="hide-mobile"><a href="http://www.benhubbard.co.uk/work" class="link-border">Work</a></li>
        <li><a href="http://www.benhubbard.co.uk/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="clear"></div>
