<div class="menu-container">
<div class="menu-holder">
  
  
  <ul class="menu-text">
    
    <li><a href="http://www.benhubbard.co.uk/work" class="link-border hide-mobile">Work</a></li>
    <li><a href="http://www.benhubbard.co.uk/customer-success" class="link-border hide-mobile">Customer Sucess</a></li>
    <li><a href="http://www.benhubbard.co.uk/photos" class="link-border hide-mobile">Photos</a></li>
    <li><a href="http://www.benhubbard.co.uk/blog" class="link-border">All Articles</a></li>
    <li><a href="http://www.benhubbard.co.uk/contact">Contact</a></li>
  </ul>
  <div class="clear"></div>
</div>
</div>
<div class="logo-header">
<h1 class="logo-text"><a href="http://www.benhubbard.co.uk">Ben Hubbard</a></h1>
  <div class="clear"></div>
</div>
