<div class="footer">
  <div class="footermenu">
    <h5>The Articles</h5>
    <ul>
      <li>Customer Success Academy</li>
      <li>Tech Thoughts</li>
      <li>Notebook</li>
    </ul>
  </div>
  <div class="footermenu">
    <h5>Keep in touch</h5>
    <ul>
      <li><a href="https://uk.linkedin.com/in/benhubbard434">LinkedIn</a></li>
      <li><a href="http://www.twitter.com/benhubbard434">Twitter</a></li>
      <li><a href="http://www.instagram.com/benhubbard434">Instagram</a></li>
      <li><a href="https://www.strava.com/athletes/938645">Strava</a></li>
      <li><a href="https://open.spotify.com/playlist/1V4K1ZZ4SKAJdLvrh7O7lS?si=CRBaB8wcSFu1N61I5xwyvw">Spotify</a></li>
    </ul>
  </div>
  <div class="footermenu">
    <h5>Work &amp; Projects</h5>
    <ul>
      <li><a href="https://www.benhubbard.co.uk">Home</a></li>
      <li><a href="https://www.tomatojam.co.uk">Tomato Jam</a></li>
      <li><a href="https://www.taxiforemail.com">Taxi for Email</a></li>
    </ul>
  </div>
  <div class="signupholder">
    {% include signup.html %}
  </div>
  <p class="small">&copy; {{ "now" | date: "%Y" }} Ben Hubbard</p>
</div>
