<div class="footer">

  <div class="footermenu">
    <h4>The Website</h4>
    <ul>
      <li><a href="https://www.benhubbard.co.uk/blog">Articles</a></li>
      <li><a href="https://www.benhubbard.co.uk/about">About me</a></li>
      <li><a href="https://www.benhubbard.co.uk/site">About the site</a></li>
      <li><a href="https://www.benhubbard.co.uk/contact/">Contact</a></li>
      <li><a href="https://www.benhubbard.co.uk">Home</a></li>
    </ul>
  </div>
  <div class="footermenu">
    <h4>Links to me</h4>
    <ul>
      <li><a href="https://uk.linkedin.com/in/benhubbard434">LinkedIn</a></li>
      <li><a href="http://www.twitter.com/benhubbard434">Twitter</a></li>
      <li><a href="https://open.spotify.com/playlist/1V4K1ZZ4SKAJdLvrh7O7lS?si=CRBaB8wcSFu1N61I5xwyvw">My Spotify playlist</a></li>
      <li><a href="http://www.instagram.com/benhubbard434">Instagram</a></li>
      <li><a href="https://www.strava.com/athletes/938645">Strava</a></li>
      <li><a href="https://www.taxiforemail.com">Taxi for Email</a></li>
    </ul>
  </div>
  
  <div class="signupholder">
    <h4>Subscribe to my newsletter</h4>
    <p class="small" style="margin-bottom: 0;">Semi-regular, powered by <a href="https://emailoctopus.com/?urli=kg39C&amp;utm_medium=user_referral&amp;utm_source=builder" target="_blank">EmailOctopus</a></p>
    {% include alt-signup.html %}
  </div>
  <div class="clear"></div>
  <p class="small copy">&copy; {{ "now" | date: "%Y" }} Ben Hubbard</p>

</div>
