<div class="header">
  <div class="content">
    {% include logo.html %}
    
    <a href="#menu" class="new-menu-link new-menu-button"><i class="fas fa-bars menu-button"></i> Menu</a>
    <nav id="menu" class="panel" role="navigation">
      <ul>
        <li><a href="https://www.benhubbard.co.uk">Home</a></li>
        <li><a href="https://www.benhubbard.co.uk/bootcamp">Customer Success Bootcamp</a></li>
        <li><a href="https://www.benhubbard.co.uk/tech">Tech Thoughts</a></li>
        <li><a href="https://www.benhubbard.co.uk/notebook">Notebook</a></li>
        <li><a href="https://www.benhubbard.co.uk/about">About me</a></li>
        <li><a href="https://www.benhubbard.co.uk/contact">Contact</a></li>
        <li><a href="https://www.benhubbard.co.uk/site">About the site</a></li>
      </ul>
      <ul class="socials">
        
        <li><a href="http://www.twitter.com/benhubbard434"><i class="fab fa-twitter"></i></a></li>
        <li><a href="http://www.instagram.com/benhubbard434"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://uk.linkedin.com/in/benhubbard434"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://www.strava.com/athletes/938645"><i class="fab fa-strava"></i></a></li>
        <li><a href="https://open.spotify.com/playlist/1V4K1ZZ4SKAJdLvrh7O7lS?si=CRBaB8wcSFu1N61I5xwyvw"><i class="fab fa-spotify"></i></a></li>
      </ul>
      <a href="#menu" class="new-menu-link close new-menu-button"><i class="far fa-times-circle"></i> Close</a>
    </nav>
    
  </div>
  <div class="clear"></div>
</div>
