<div class="header">
  <div class="logo">
    <img src="https://www.benhubbard.co.uk/assets/new/logo.png" alt="Ben Hubbard logo">
  </div>
  <div class="content">
    <!-- Desktop menu -->
    <div class="menu">
      <ul class="menu-outer">
        <li><a href="https://www.benhubbard.co.uk/academy">Customer Success Academy</a></li>
        <li><a href="https://www.benhubbard.co.uk/tech">Tech Thoughts</a></li>
        <li><a href="https://www.benhubbard.co.uk/notebook">Notebook</a></li>
        <li><a href="https://www.benhubbard.co.uk/about">About me</a></li>
        <li><a href="https://www.benhubbard.co.uk/contact">Contact</a></li>
      </ul>
    </div>
    <!-- End of desktop menu -->
    <!--Mobile menu -->
    <div id="mobilemenu">
      <h3>Menu</h3>
        <div>
          <ul class="mobile-menu-outer">
            <li><a href="https://www.benhubbard.co.uk/academy">Customer Success Academy</a></li>
            <li><a href="https://www.benhubbard.co.uk/tech">Tech Thoughts</a></li>
            <li><a href="https://www.benhubbard.co.uk/notebook">Notebook</a></li>
            <li><a href="https://www.benhubbard.co.uk/about">About me</a></li>
            <li><a href="https://www.benhubbard.co.uk/contact">Contact</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
