<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
 
  <script src="https://www.benhubbard.co.uk/assets/new/bigslide.js"></script>
<script>
    $(document).ready(function() {
        $('.new-menu-link').bigSlide({
          'side': 'right',
          'menuWidth': '100%',
          'easyClose': 'true',
          'speed': '250'
        });
    });
</script>
<script>
$(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 500) {
        $(".logotype").addClass("logotypebackground");
    } else {
        $(".logotype").removeClass("logotypebackground");
    }
});
</script>

