<div class="new-head">
  <div class="logotype">
    <a href="https://benhubbard.co.uk"><h1>Ben Hubbard</h1></a>
    
    <!-- Menu Button -->
    <a href="#menu" class="new-menu-link new-menu-button" style="background:#f26419;color:white;position:fixed;bottom:20px;top:auto;"><i class="fas fa-bars menu-button"></i> Menu</a>
    <!-- Menu Panel starts -->
    <nav id="menu" class="panel" role="navigation">
      <ul>
        <li><a href="https://www.benhubbard.co.uk">Home</a></li>
        <li><a href="https://www.benhubbard.co.uk/bootcamp">Customer Success Handbook</a></li>
        <li><a href="https://www.benhubbard.co.uk/tech">Tech Thoughts</a></li>
        <li><a href="https://www.benhubbard.co.uk/notebook">Notebook</a></li>
        <li><a href="https://www.benhubbard.co.uk/about">About me</a></li>
        <li><a href="https://www.benhubbard.co.uk/contact">Contact</a></li>
        <li><a href="https://www.benhubbard.co.uk/site">About the site</a></li>
      </ul>
      {% include social-icons.html %}
      <a href="#menu" class="new-menu-link close new-menu-button"><i class="far fa-times-circle"></i> Close</a>
      <!-- Menu Panel endss -->
    </nav>
    <div class="clear"></div>
</div>
