@font-face{font-family:SharpUnity;font-style:normal;font-weight:100;src:url(/assets/css/SharpUnity-Book.ttf) format("truetype")}
@font-face{font-family:SharpUnity;font-style:normal;font-weight:400;src:url(/assets/css/SharpUnity-Semibold.ttf) format("truetype")}
@font-face{font-family:SharpUnity;font-style:normal;font-weight:800;src:url(/assets/css/SharpUnity-Extrabold.ttf) format("truetype")}

@font-face {font-family:Whitney;font-weight:300;src: url("/assets/css/WhitneySSm-Book-Bas.otf") format("opentype");}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
img {max-width: 100%;}
*{box-sizing: border-box;}
html {background: #efefef;}
body {width: 100%; margin: 0 auto;}

.clear {clear: both;}

/*arcitecture*/
h1, h2 {font-family:SharpUnity,sans-serif;margin-bottom: 1em;color: #595959;line-height: 1.75;padding-top: 18px;font-weight: 800;letter-spacing: 1px;}
h1 {font-size: 3em; letter-spacing: 2px;}
h2 {font-size: 2.5em;letter-spacing: 2px;}
h3{font-family:SharpUnity,sans-serif;margin-bottom: 0.5em;color: #595959;line-height: 1.75;padding-top: 18px;font-weight: 400;font-size: 1.5em;}
h4{font-family:SharpUnity,sans-serif;margin-bottom: 0.5em;color: #595959;line-height: 1.75;padding-top: 18px;font-weight: 400;font-size: 1.5em;}
h5{font-family:SharpUnity,sans-serif;margin-bottom: 0.25em;color: #595959;line-height: 1.75;padding-top: 18px;font-weight: 400;font-size: 1em;}
p {font-family:Whitney,sans-serif;margin-bottom:1em;color: #595959;line-height: 1.8em;font-size: 1em;}

li {}
a {color: #595959;text-decoration: underline;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
a:hover {color: #ff0084;fill: #ff0084;cursor:pointer;}
li a {text-decoration: none;font-weight: 400;letter-spacing: -0.25px;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}		
h2 a {text-decoration: none;}


/*header&structure*/
.container {background: white;padding: 20px;margin: 18px 20px;}
.menu-container {width:100%;padding: 10px 40px;}
.logo-header {background: #F4E409; padding: 20px 40px; width: 100%;}
.logo-text {float: left; font-size: 4em; text-decoration: none; margin:0; padding: 0;}
.logo-text a {text-decoration: none;color: #FF0084; padding: 0; margin: 0;}
.menu-text li {float: left; margin-right: 20px; font-family:SharpUnity,sans-serif; font-size: 1.25em; line-height: 36px; }

.footer {width:95%;margin: 10px auto 50px auto;}

.section-header {border-bottom: 20px solid #F75C03; padding-left: 5px;display: inline-block; line-height:0;}
.section {overflow: hidden}

.half {width: 50%;float:left}
.third {width: 33.33333333333333332%; float: left;}

/*button*/
.butt {font-family:Whitney,sans-serif;background: #26a5a5;border: 0;color: white;display: inline-block;font-weight: 400;padding: 12px 15px;border-radius: 2px;cursor: pointer;letter-spacing: 0.25px;text-decoration: none;-webkit-appearance: none;font-size: 14px;}
.butt:hover{background: #069898;color: white;}

.big-button {padding: 10px 25%;margin-bottom: 20px;}
.big-button h4 {text-align: center;}
.big-button h4 a {display:block; padding: 10px 0;}
.big-button h4 a:hover {background: #F4E409; color: #FF0084;}

/*index*/
.home-article {padding: 0 10px;}
/*.home-article:nth-child(4) {clear:both;}*/

.profile-face {object-fit: cover;border-radius: 50%;display: block; margin: 0 auto;}

.mini-container {padding-left: 4em; position: relative;}
.mini-container:before {content:""; width: 2px; background: #85c7f2; position: absolute; top: 22px; bottom: 0; left: 0.5em;z-index: 1}
.job {position: relative;}
.job:before {content:""; position: absolute; width: 20px; height: 20px; border-radius:20px; background: red; z-index: 2;top: 22px; left: -65px;background: #85c7f2;}
.past {font-style: italic; font-size: 12px}

/*blog*/
.posts {padding: 25px;}
.post {margin-bottom: 40px;}
.date {display: inline-block;border-bottom: 2px solid #404e5c;padding: 2px 5px;margin-bottom: 16px;}
.date p {margin: 0;font-size: 80%;}
.read-more {display: inline-block;background: #F75C03;padding: 5px 8px;border-radius: 3px;margin-bottom: 16px;color: white;margin: 0;text-decoration: none;font-family:SharpUnity,sans-serif;margin-bottom: 18px;}
.read-more:hover {color:#FF0084; background:#F4E409;}
.sub-post {padding: 25px 100px;}


/*below here needs checking*/
.center {text-align: center;}
.small {font-size: 80%;}
.h3small {font-size: 1.5em;margin-bottom: -1em;}
.left-block {float: left;width: 50%;padding: 25px;box-sizing: border-box;}
.right-block {float: right;width: 50%;padding: 25px;box-sizing: border-box;}

.page-head {padding-top: 200px;padding-bottom: 200px;}


/*colours*/
.white {color: white;}
.pink {color: #ff0084;}
.blue {color:#7724f8;}
.yellow {color:#F4E409;}
.orange {color: #F75C03;}

.darkgreybg {background: #595959;}
.lightgreybg {background: #d1d1d1;}
.bluebg {background:#7724f8;}
.whitebg {background: white;}
.pinkbg {background: #ff0084;}
.yellowbg {background: #F4E409;}
.orangebg {background: #F75C03;}

h3.pinkbg {margin-bottom: 10px; padding: 5px 10px; display: inline;}

/*padding*/
.padding-top {padding-top: 50px;}
.double-padding-top {padding-top: 100px;}
.double-padding-bottom {padding-bottom: 100px;}
.padding-bottom {padding-bottom: 50px;}
.padding-side {padding-left: 100px;padding-right: 100px;}
.extrapadding-side {padding-left: 250px;padding-right: 250px;}
.half-padding {padding: 25px;}
.half-padding-top {padding-top: 25px;}
.half-padding-bottom {padding-bottom: 25px;}
.quarter-padding {padding:12px;}
.no-padding-top {padding-top: 0;}
.no-padding-bottom {padding-bottom: 0;}
.no-margin {margin: 0;}	

/*portflio-page*/
.portfolio-link {font-family:Whitney,sans-serif;display: block;width: 50%;padding: 40px 20px;margin: 40px auto 80px auto;font-size: 1em;text-decoration: none;}
.tag {display:inline-block; padding: 2px 4px; border-radius: 3px}
.work-header {text-align: center;}
.work-header h2 {display:block;}

/*project-sub-page*/
.project-desc {padding: 25px;}
.screenshot-holder, .secondary-screen {padding: 0 50px;}

/*contact-page*/
.contact-holder {padding: 25px;}
#contact {width: 100%; padding: 50px 100px 50px 0;max-width: 700px;}
#contact .field {width: 100%; padding: 12px 16px; border-radius: 1px; font-family:SharpUnity,sans-serif; font-size: 14px; border: 1px solid #404e5c; margin-bottom: 20px;}

/*thanks*/
.thanks {background-color: #232323;}
.thanks-container {background: transparent;}

/*responsive stuff*/
@media all and (max-width: 500px) and (min-width: 0px) {
	.container {width: auto;padding: 25px 0;margin-top: 25px;}
	h1 {font-size: 3.25em;}
	h2 {font-size: 2.25em}
	h3 {font-size: 1.75em}
	.page-head {margin-top: -30px;}
	.menu-text {position: fixed; background: white; bottom: 0; right: 0; left: 0;z-index: 10;}
	.menu-text li {margin: 0; padding: 9px 0; width: 50%; border-top: 2px solid #d1d1d1;}
	.menu-text li a {display: block; width: 100%; text-align: center;}
	.link-border {border-right: 2px solid #d1d1d1;}
	#contact {padding: 25px 0}
	.footer {padding-bottom: 20px;}
	.third, .half {width: auto; float: none;}
	.hide-mobile {display:none !important}
	.sub-post {padding: 10px;}
	.screenshot-holder, .secondary-screen {padding-left:0;padding-right:0}
	.extrapadding-side {padding-left:5px;padding-right:5px}
	.portfolio-link {width:100%;}
	.work-header h2 {font-size: 2em;}
}

	
