/*Fonts*/
@font-face {
  font-family: "Recoleta-Black";

  src: url("https://www.benhubbard.co.uk/assets/css/Recoleta-Black.eot"); /* IE9 Compat Modes */
  src: url("https://www.benhubbard.co.uk/assets/css/Recoleta-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://www.benhubbard.co.uk/assets/css/Recoleta-Black.otf") format("opentype"), /* Open Type Font */
    url("https://www.benhubbard.co.uk/assets/css/Recoleta-Black.svg") format("svg"), /* Legacy iOS */
    url("https://www.benhubbard.co.uk/assets/css/Recoleta-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("https://www.benhubbard.co.uk/assets/css/Recoleta-Black.woff") format("woff"), /* Modern Browsers */
    url("https://www.benhubbard.co.uk/assets/css/Recoleta-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* Reset & Standards */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
img {max-width: 100%;}
*{box-sizing: border-box;}
html {background: #efefef;}
body {width: 100%; margin: 0 auto;}
::-moz-selection { background: #f9a620; }
::selection { background: #f9a620; }

.clear {clear: both;}

/*colour scheme here: https://coolors.co/efefef-ffffff-87f5fb-373f51-ff6978-f9a620-275dad */

/*arcitecture*/
h1, h2 {font-family:'Recoleta-Black', sans-serif;margin-bottom: 0.5em;color: #373F51;line-height: 1.5;font-weight: 800;letter-spacing: -1px;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.6em;}
h3{font-family:'Recoleta-Black', sans-serif;margin-bottom: 0.5em;color: #373F51;line-height: 1.75;font-weight: 400;font-size: 1.4em;letter-spacing: -1px;}
h4{font-family:'Recoleta-Black', sans-serif;margin-bottom: 0.5em;color: #373F51;line-height: 1.75;font-weight: 400;font-size: 1.2em;letter-spacing: -1px;}
h5{font-family:'Recoleta-Black', sans-serif;margin-bottom: 0.25em;color: #373F51;line-height: 1.75;font-weight: 400;font-size: 1.1em;letter-spacing: -1px;}
p {font-family:'Merriweather', serif; margin-bottom:1em;color: #373F51;line-height: 1.8em;font-size: 1em;}

li {font-family:'Merriweather', serif; color: #373F51;line-height: 1.8em;font-size: 1em;}
a {color: #373F51;text-decoration: underline;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
a:hover {cursor:pointer; text-decoration: underline;}
li a {text-decoration: none;font-weight: 400;letter-spacing: -0.25px;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
h2 a {text-decoration: none;}


/*header&structure*/
.container {background: white;padding: 20px;margin: 18px 20px;}

.logo-header {background: #efefef; padding: 40px 20px 20px 20px; width: 100%; }
.logo-holder {width: 50%; float: left;}
.menu-container {width:40%; float:right; height: 72px;}
.menu-holder {float:right; padding-top: 18px;}
.logo-text {font-size: 3em; text-decoration: none; margin:0; padding: 0; width: 100%;}
.logo-text a {text-decoration: none; padding: 0; margin: 0; color: #F45B69}
.menu-text {width: 250px; margin: 0 auto;}
.menu-text li {float: left; padding: 0 10px; font-family:'Recoleta-Black', sans-serif; font-size: 1.1em; font-weight: 400; line-height: 36px; text-align: center; }
.footer {width:95%;margin: 10px auto 50px auto;}
.section-header {border-bottom: 20px solid #F75C03; padding-left: 5px;display: inline-block; line-height:0;}
.section {overflow: hidden}
.half {width: 50%;float:left}

/*button*/
.butt {font-family:'Merriweather', serif;background: #87F5FB; border: 0; display: inline-block;font-weight: 400;padding: 12px 15px;border-radius: 2px;cursor: pointer;letter-spacing: 0.25px;text-decoration: none;-webkit-appearance: none;font-size: 14px;}
.butt:hover{background: #7BDFE5; text-decoration: none; }

.big-button {padding: 10px 0; margin-bottom: 20px;}
.big-button h4 {text-align: center;}
.big-button h4 a {display:block; padding: 10px 0; background: #87F5FB; width: 40%; border-radius: 3px;}
.big-button h4 a:hover {background: #7BDFE5;text-decoration: none;}

/*index*/

.home-posts {padding: 25px 25px 25px 50px;width:50%;float:right;}
.featured-posts-container {width:50%;float:left;padding: 0 25px;}
.featured-posts {padding:25px;border:2px solid #FABC3C}
.featured-posts img {width:50%;padding-right:25px;float:left;}
.featured-posts .post {margin-bottom: 0;}
.featured-posts h4, .home-posts h4 {padding-top: 0; color: #FABC3C;}

.home-article {padding: 0 10px;}
.home-article:nth-child(6) {clear:both;}
.home-head {padding: 40px 0;}
.home-img {float: left; max-width: 300px; width: 50%;}

.home-social {margin-top: 25px;}
.instagram-home {background: #f09433; background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );}
.instagram-home a {display:block; line-height:0;}
.spotify-home {background:#191414}
.spotify-home a {display:block; line-height:0;}
.twitter-home { background:#1da1f2}
.twitter-home a {display:block; line-height:0;}
.linkedin-home { background:#0077b5}
.linkedin-home a {display:block; line-height:0;}
.strava-home { background:#fc4c02}
.strava-home a {display:block; line-height:0;}
.social-icon-home {width:100%;}
.bio {margin-bottom: 25px;}
.profile-pic {width: 33%; float:left; border-radius:300px; margin-right:25px;}
.social-icon-holder {width: 75%; margin: 0 auto; border-radius: 200px; padding:19px 20px;}
.social-wrapper {width:20%; float:left;}

.mini-container {padding-left: 4em; position: relative;}
.mini-container:before {content:""; width: 2px; background: #85c7f2; position: absolute; top: 22px; bottom: 0; left: 0.5em;z-index: 1}
.job {position: relative;}
.job:before {content:""; position: absolute; width: 20px; height: 20px; border-radius:20px; background: red; z-index: 2;top: 22px; left: -65px;background: #85c7f2;}
.past {font-style: italic; font-size: 12px}
.posts {padding: 25px;}

.post {margin: 0 auto 40px auto;max-width: 800px;}
.sub-head p {margin: 0;font-size: 80%;margin-bottom: 16px;}
.date {display: inline-block;padding: 2px 5px;background: #FABC3C;border-radius: 3px;}

.read-more {font-family:'Recoleta-Black', sans-serif; display: inline-block;background: #87F5FB;padding: 5px 8px;border-radius: 3px; margin-bottom: 16px; margin: 0;text-decoration: none; margin-bottom: 18px;}
.read-more:hover {text-decoration: none; background: #7BDFE5;}
.sub-post {padding: 25px 100px;}
.center {text-align: center;}
.small {font-size: 80%;}
.h3small {font-size: 1.5em;margin-bottom: -1em;}
.left-block {float: left;width: 50%;padding: 25px;box-sizing: border-box;}
.right-block {float: right;width: 50%;padding: 25px;box-sizing: border-box;}

.page-head {padding-top: 200px;padding-bottom: 200px;}


/*colours for portfolio page */
.white {color: white;}
.pink {color: #FFA737;}
.blue {color:#061A40;}
.yellow {color:#FFA737;}
.orange {color: #F75C03;}

.darkgreybg {background: #343330;}
.lightgreybg {background: #d1d1d1;}
.bluebg {background:#061A40;}
.whitebg {background: white;}
.pinkbg {background: #B9D6F2;}
.yellowbg {background: #FFA737;}
.orangebg {background: #F75C03;}

h3.pinkbg {margin-bottom: 10px; padding: 5px 10px; display: inline;}

/*padding*/
.padding-top {padding-top: 50px;}
.double-padding-top {padding-top: 100px;}
.double-padding-bottom {padding-bottom: 100px;}
.padding-bottom {padding-bottom: 50px;}
.padding-side {padding-left: 100px;padding-right: 100px;}
.extrapadding-side {padding-left: 250px;padding-right: 250px;}
.half-padding {padding: 25px;}
.half-padding-top {padding-top: 25px;}
.half-padding-bottom {padding-bottom: 25px;}
.quarter-padding {padding:12px;}
.no-padding-top {padding-top: 0;}
.no-padding-bottom {padding-bottom: 0;}
.no-margin {margin: 0;}

/*Article page*/
.twitter-tweet {margin: auto;}

/*portflio-page*/
.portfolio-link {font-family:'Merriweather', serif; display: block;width: 50%;padding: 40px 20px;margin: 40px auto 80px auto;font-size: 1em;text-decoration: none;}
.tag {display:inline-block; padding: 2px 4px; border-radius: 3px}
.work-header {text-align: center;}
.work-header h2 {display:block;}

/*project-sub-page*/
.project-desc {padding: 25px;}
.screenshot-holder, .secondary-screen {padding: 0 50px;}
.screenshot-holder img, .secondary-screen img {max-width: 80%; display: block; margin: 10px auto}

/*contact-page*/
.contact-holder {padding: 25px; width: 600px; margin: 0 auto;max-width:100%;}
#contact {width: 100%; padding-top: 20px;}
#contact .field {width: 100%; padding: 12px 16px; border-radius: 1px; font-family:'Fira Sans', sans-serif; font-size: 14px; border: 1px solid #404e5c; margin-bottom: 20px;}

/*thanks*/
.thanks {background-color: #232323;}
.thanks-container {background: transparent;}

.spotify-list {margin-bottom: 1em;}
.spotify-list li {font-family:'Merriweather', serif; margin-bottom: 0.2em;color: #373F51;line-height: 1.8em;font-size: 1em;}

/*Categories page*/
.category-button-out {display:block;float:left;margin: 0 5px 5px 0;}
.category-button-out .butt {font-size: 12px; padding: 6px 8px;}
.category-title-link {margin-bottom:0px}
.category-title-link .date p {font-size: 12px}
.category-page {padding: 25px;}

/*link in bio*/
.linkinbio-subhead {text-align: center}
.linkinbio-link-wrapper {width: 90%; margin: 25px auto; border: 3px solid #373F51; border-radius: 6px;}
.linkinbio-link {display: block; padding: 5px 8px;}
.linkinbio-text {margin-bottom: 0;}
.linkinbio-insta {position: fixed; bottom: 0; left: 0; width: 100%; padding: 10px; text-align: center;}
.back-to-insta {width: 100%; text-align:center; font-family:'Recoleta-Black', sans-serif;}

/*404*/
.fourohfourimage {display: block;margin: 0 auto;}


/*responsive stuff*/
@media all and (max-width: 800px) and (min-width: 501px) {
  .featured-posts img {width:100%;padding-right:0;float:none;}
  .home-social .half {width: auto; float: none;}
}

@media all and (max-width: 500px) and (min-width: 0px) {
	.container {width: auto;padding: 25px 0;margin-top: 25px;}
	.page-head {margin-top: -30px;}
	.menu-text {position: fixed; background: white; bottom: 0; right: 0; left: 0;z-index: 10; width: 100%}
	.menu-text li {margin: 0; padding: 9px 0; width: 50%; border-top: 2px solid #d1d1d1;}
	.menu-text li a {display: block; width: 100%; text-align: center;}
	.menu-container {width: 0; height: 0;}
	.link-border {border-right: 2px solid #d1d1d1;}
	#contact {padding: 25px 0}
	.footer {padding-bottom: 20px;}
	.third, .half {width: auto; float: none;}
	.hide-mobile {display:none !important}
	.sub-post {padding: 10px;}
	.screenshot-holder, .secondary-screen {padding-left:0;padding-right:0}
	.extrapadding-side {padding-left:5px;padding-right:5px}
	.portfolio-link {width:100%;}
	.work-header h2 {font-size: 1em;}
	.screenshot-holder img, .secondary-screen img {max-width: 100%;}
	.home-posts {padding: 25px;width:auto;float:none;}
	.featured-posts {padding:25px; border:0px; background: white;}
	.featured-posts-container {margin-top: -25px; width:auto;float:none;padding: 0;}
  .featured-posts img {width:100%;padding-right:0;float:none;}
	.logo-holder {width: 100%; float:none;}
	.menu-container {width: 0%;}
	.home-social {margin-top:0;}
  .big-button h4 a {width: 80%;}
  .logo-text {text-align:center}
	.bio {padding: 0 25px;}
	.social-icon-holder {padding: 10px;}
}
