html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Background */

html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	
	background: white;
	

}

.sidething {
	position: fixed;
	width:0px;
	top: 0;
	bottom: 0;
	left: 0;
	background: #00c6ff; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #00c6ff 0%, #5cd2d6 26%, #f9fc4e 50%, #5cd2d6 74%, #00c6ff 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c6ff), color-stop(26%,#5cd2d6), color-stop(50%,#f9fc4e), color-stop(74%,#5cd2d6), color-stop(100%,#00c6ff)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #00c6ff 0%,#5cd2d6 26%,#f9fc4e 50%,#5cd2d6 74%,#00c6ff 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #00c6ff 0%,#5cd2d6 26%,#f9fc4e 50%,#5cd2d6 74%,#00c6ff 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #00c6ff 0%,#5cd2d6 26%,#f9fc4e 50%,#5cd2d6 74%,#00c6ff 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #00c6ff 0%,#5cd2d6 26%,#f9fc4e 50%,#5cd2d6 74%,#00c6ff 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6ff', endColorstr='#00c6ff',GradientType=0 ); /* IE6-9 */
}

.header {
	background: black;
	position: fixed;
	width: 20em;
	top: 2em;
	left: 2em;
	bottom: 2em;
	padding: 1em;
}

.header-title {
	width: 100%;
	height:100%;
	position: relative;
}

.wrapper {
	margin-left: 24em;
	padding-top:3em;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 2em;
}
h1 {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 3em;
	margin: 0 0 1em 0;
	color: black;
	text-transform: uppercase;
}
h2 {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: black;
	font-size: 2em;
	margin: 0.8em 0;
}
h3 {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	margin: 0.8em 0;
	margin-left: 0;
	color: #00c6ff;
}
h4 {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	margin: 0.8em 0;
	margin-left: 0;
	color: #00c6ff;
}
h5 {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	margin: 0.8em 0;
	margin-left: 0;
	color: #00c6ff;
}

p {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 0.8em;
	line-height: 1.5em;
	color: black;
	font-size: 120%;
}

a {
	color: #00c6ff;
}

h1 a{
	text-decoration: none;
	color: white;
}

pre {
	margin: 0.8em 0;
	padding: 0.5em 1em 1em 1.5em;
	background: #e8e8e8;
	font-family: "courier-prime",monospace;
	font-style: normal;
	font-weight: 400;
	font-size: 0.8em;
	overflow-x: scroll; 
}

p.footer {
	color: #00c6ff;
	position: absolute;
	bottom: -1em;
	left: 0;
	padding: 0;
	font-size: 0.75em;
}


/*Homepage*/

.homepage {
	position: fixed;
	right: 2em;
	top: 2em;
	left: 24em;
	bottom: 2em;

}

.tempcentre {
	text-align: center;
	margin-top: 2em;
	color: white;
}

.title h1 {
	margin-bottom: 0.5em;
	color: white;
	margin-top: 0;
}

.menu li {
	margin: 0.5em 0;
}

.menu li a {
	text-decoration: none;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	display: inline-block;
	padding: 0.5em 0;
	color: white;
	font-size: 120%;
}

.menu li a:hover {
	
	color: #00c6ff;
}

.slicknav_menu {
		display: none;
	}

/*Form*/
.contact-main {
	min-width: 320px;
	width: 50%;
	max-width: 640px;
}

.formfield {
 	width:100%;
 	color:black;
 	background: white;
 	border: 1px solid #ccc;
 	margin-bottom:1em;
 	padding: 0.5em 1em;
 	font-size: 0.8em;
 	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	border-radius: 1px;
}

::-webkit-input-placeholder {
   color: #ccc; 
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}

:-ms-input-placeholder {  
   color: #ccc;  
}

.contact-form-holder {
	position: absolute;
	top: 20em;
	left: 0;
	right: 0;
	background: black;
	padding: 1em;
	border-radius: 2px;
	border: 3px solid white;
}

#contact-form {
	display: none;
}

.butt {
	padding: 0.5em 1em;
	background: transparent;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #00c6ff;
	border: 2px solid #00c6ff;
	font-size: 1em;
	border-radius: 3px;
	
}

.butt:hover {
	cursor: pointer;
	background: #00c6ff;
	color: white;
}


/* Portfolio */

.portfolio-link {
	color:#00c6ff;
    padding:1.5em;
    width:100%;
    display: block;
    background-image: linear-gradient(to left,
                                      #e8e8e8,
                                      #e8e8e8 50%,
                                      #00c6ff 50%,
                                      #00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;  
    margin: 2em 0;  
    text-decoration: none; 
    font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 700;  
	font-size: 2em;  
	position: relative;  
}

.portfolio-link:hover {
	background-position: 0 0;
	color: white;
}

.portfolio-link .arrow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	width: 128px;
	padding: 0.5em;

}



.portfolio-link .arrow img {
	width: 100%;
}

.screenshot-holder {
	width: 100%;
	margin-top: -1em;
	margin-bottom: 4em;
	background: #ffb300;
	padding-top: 2em;
	padding-bottom: 4em;
}

.project-desc {
	width: 100%;
	margin-top: 4em;
	margin-bottom: 4em;
	background: #00C7FF;
	padding-top: 4em;
	padding-bottom: 4em;
}

.screenshot-holder img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
}

.project-desc p, .project-desc h2 {
	width: 60%;
	text-align: center;
	margin: 0 auto;
	color: white;
	margin-bottom: 1em;
}
.secondary-screen {
	width: 100%;
	margin-top: 4em;
	margin-bottom: 4em;
	padding-top: 4em;
	padding-bottom: 4em;
	background: #FF8100;
}

.secondary-screen img {
	width: 100%;
}

/*Blog*/

.edit {
	padding: 1em;
	margin: 0 0 1em 0;
	background: #EEB4B4;
	color: #B22222;
	border: 1px solid #B22222;
}

.article-link .arrow img {
	padding-top: 20px; 
}

.date {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 50%;
	margin-top: 0.5em;
	
	padding: 0.4em 0;
	display: inline-block;

}

.paging {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 1em 0;
	padding: 0.4em;
	
}


.photos img {
	width: 100%;
	max-width: 1000px;
	margin-bottom: 40px;
}

.last-photo {
	margin-bottom: 0;
}

/*Masonary*/

.item { width: 20%; margin-bottom: 1em;  }
.item.w2 { width: 40%; }

.item img {width: 100%;}




/*RESPONSIVE*/

.mobile-head {
	display: none;
}

.mobile-homepage {
	display: none;
}

@media screen and (max-width: 40em) { 
	.menu {
		display: none;

	}

	.slicknav_menu {
		display: block;
	}

	.wrapper {
		margin: 3em 1em 1em 1em;
		padding: 0;
	}
	.header {
		display: none;
	}
	.mobile-head {
	display: block;
	position: absolute;
	top: 1em;
	left: 0.5em;
	font-size: 1em;
	color: white;
	text-transform: none;
	}
	.mobile-homepage {
		display: block;
	}
	.homepage {
		display: none;
	}
	.portfolio-link {
	color:#00c6ff;
    padding:0.5em 0.5em 0.5em 0.5em;
    width:100%;
    display: block;
    background-image: linear-gradient(to left,
                                      #e8e8e8,
                                      #e8e8e8 50%,
                                      #00c6ff 50%,
                                      #00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;  
    margin: 2em 0;  
    text-decoration: none; 
    font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 700;  
	font-size: 1.7em;  
	position: relative;  
	}

	.portfolio-link:hover {
	background-position: 0 0;
	color: white;
	}

	.portfolio-link .arrow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	width: 53px;
	padding: 0.2em;

	}

	.portfolio-link .arrow img {
	width: 100%;
	}
}




