<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	{% include analytics.html %}
	{% include newscripts.html %}	
</head>
<body>
	<div class="push wrap">
		{% include newheader.html %}
      <div class="white">
        <div class="content">
		<article class="post">
  		<h2>{{ page.title }}</h2>
  		<div class="sub-head">
    			<p class="small"><span class="date">Written on {{ page.date | date: "%B %e, %Y" }}</span> - {% include word-count.html %}</p>
  		</div>
  	<div class="header-image">
    		<img src="{{ post.headerimg }}">
  	</div>
		  {{ content }}
		</article>
        </div>
      </div>

		{% include newfooter.html %}
	</div>
</body>
</html>
