<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	{% include analytics.html %}
	{% include newscripts.html %}	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary"></meta>
	<meta name="twitter:site" content="@benhubbard434"></meta>
	<meta name="twitter:title" content="{{ page.title }}" /> 
	<meta name="twitter:description" content="{{ content | truncatewords: 50 | strip_html }}" /> 
	<meta name="twitter:image" content="https://www.benhubbard.co.uk/assets/new/profilepic-removebg-preview.png" />

</head>
<body>
	<div class="push wrap">
		{% include twenty-three-header.html %}
      	<div class="hero">
        	<div class="content">
  				<h2>{{ page.title }}</h2>
  				<div class="sub-head">
    				<p class="small"><span class="date">Written on {{ page.date | date: "%B %e, %Y" }}</span> - {% include word-count.html %}</p>
  				</div>
  			</div>
  		</div>
  		<div class="content">
  			<article class="post">
  				<div class="header-image">
    				<img src="{{ post.headerimg }}">
  				</div>
		  		{{ content }}
			</article>
        </div>
      

		{% include newfooter.html %}
	</div>
	<script>
$(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 130) {
        $(".logotype").addClass("logotypebackground");
    } else {
        $(".logotype").removeClass("logotypebackground");
    }
});
</script>
</body>
</html>
