/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*,*:before,*:after{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;-webkit-appearance: none;}
input[type="text"], input[type="password"], textarea, select {outline: none;}
.clear {clear:both;}
* {max-width: 100%;scroll-behavior: smooth;}

/*fonts*/
/*New 2023 headlines*/
@font-face {
    font-family: 'freigeistxwide_bold';
    src: url('https://www.benhubbard.co.uk/assets/css/rene_bieder_freigeist_xwide_bold-webfont.woff2') format('woff2'),
         url('https://www.benhubbard.co.uk/assets/css/rene_bieder_freigeist_xwide_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freigeistxwide_regular';
    src: url('https://www.benhubbard.co.uk/assets/css/rene_bieder_freigeist_xwide_reg-webfont.woff2') format('woff2'),
         url('https://www.benhubbard.co.uk/assets/css/rene_bieder_freigeist_xwide_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circular';
    src: url('https://www.benhubbard.co.uk/assets/css/circular-book-webfont.woff2') format('woff2'),
         url('https://www.benhubbard.co.uk/assets/css/circular-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*New 2023 body*/
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

/* Colour scheme https://coolors.co/ff4242-33ca7f-016fb9-ffbe0b-e34a6f */

/*main arcitecture*/
html {background:white;}
a {font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif; color: #e34a6f; font-weight: 300;}
h1 {font-family: 'freigeistxwide_bold', Helvetica, Arial, sans-serif; color: #016fb9; font-size: 36px; line-height: 70px; letter-spacing: -4px;}
h2 {font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif; color: #342e37; font-size: 24px; line-height: 32px; margin-bottom:20px; font-weight: 300;}
h3 {font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif; color: #342e37; font-size: 24px; line-height: 32px; margin-bottom:20px; font-weight: 300;}
h4 {font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif; color: #342e37; font-size: 24px; line-height: 32px; margin-bottom:20px; font-weight: 300;}
h5 {font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif; color: #342e37; font-size: 24px; line-height: 32px; margin-bottom:20px; font-weight: 300;}
p {font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif; color: #342e37; font-size: 20px; line-height: 28px; margin-bottom:20px; font-weight: 300;}
h2 a {font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif; color: #e34a6f;}
li {font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif; color: #342e37;font-weight: 300;}
strong {font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif; font-weight: 500}
.small {font-size: 80%}
h4 a {text-decoration: none;}
::-moz-selection { background: #ffbe0b;}
::selection { background: #ffbe0b;}

/*content*/
.content {width: 95%; max-width:800px; margin: 0 auto; padding: 10px 0 20px 0;}
.content-alt {width: 95%; max-width:900px; margin: 0 auto; padding: 10px 0 20px 0;}
.centre {text-align:center;}
.white {color:white;}

/*header*/
.header {margin-bottom: 0;}
.hero {background: rgb(227,74,111); background: linear-gradient(76deg, rgba(227,74,111,1) 10%, rgba(255,66,66,1) 30%, rgba(255,190,11,1) 50%, rgba(51,202,127,1) 70%, rgba(1,111,185,1) 90%);}
.hero .content {padding: 75px 0;}
.hero .content p, .hero .content h2 {color: white; text-shadow: 1px 1px 28px black;}

.new-head {background: white;}
.new-head a {text-decoration: none;}
.avatar {height: 50px; margin: 10px; float:left; background:rgb(227,74,111);border-radius: 50px;}



/*old logo css*/
.logo img {height: 150px; margin: 0 auto 20px auto; display:block;}
.logo {margin-bottom: 10px;}

/* menu - bigslide*/
.panel {position: fixed; right: -100%; width: 100%; background: #e34a6f; padding: 20px; z-index:5;}
.panel ul li {width: 100%; margin-bottom: 10px;}
.panel ul li a {color: white; text-decoration: none; padding: 8px 0; font-family: 'circular', Helvetica, Arial, sans-serif; font-size: 28px; line-height: 36px; letter-spacing:-1px;}
.new-menu-link {font-family: 'circular', Helvetica, Arial, sans-serif; font-size: 20px; line-height: 28px; text-decoration: none; color: #ffbe0b; letter-spacing:-1px;z-index: 999999999}
.new-menu-button {display: block; background: transparent; padding: 5px; border-radius: 3px;}
.menu-button-absolute {position: absolute; top: 20px; right: 20px;}
.menu-button-fixed {position:fixed; bottom:20px; right: 20px;}
.wrap {position: relative;}
.socials {position: absolute; bottom: 40px;}
.socials li {width: 48px!important; margin-right: 10px; float: left; }

/*footer*/
.footer {background: #016FB6; padding: 40px; text-align: left; margin-top: 25px;}
.footermenu {padding-bottom: 20px;}
.footermenu ul li {margin-bottom: 10px;}
.footermenu ul li a {text-decoration: none; font-size: 20px; color: #ffbe0b;}
.footermenu h4 {padding:2px 5px; background:#ffbe0b; display:inline-block; border-radius: 1px;}
.footermenu h4, .footermenu .small, .signupholder h4, .signupholder .small {color: #e34a6f;}
.footer .copy {color: #ffbe0b;}
.signupholder {margin-bottom: 10px;}

/* Strcuture */

.big-left-card {float: none; width: 100%; margin: 20px 0; background: #33ca7f; border-radius: 10px; padding: 50px; }
.small-right-card {float: none; width: 100%; margin: 20px 0; padding: 50px;}

/* homepage*/
.button-holder {border-top: 2px solid #342e37; border-bottom: 2px solid #342e37; background: rgb(227,74,111); background: linear-gradient(76deg, rgba(227,74,111,1) 18%, rgba(255,66,66,1) 38%, rgba(255,190,11,1) 58%, rgba(51,202,127,1) 78%, rgba(1,111,185,1) 98%);}
.home-buttons {width: 12.5%; background: white;position: relative; float: left;}
.home-buttons:after {content: "";display: block;padding-bottom: 100%;}
.home-buttons-content {position: absolute; width: 100%; height: 100%;}
.home-buttons:hover {background: transparent;}

.about-home-block {padding: 50px; background: #55DDE0;}
.about-home-block p, .about-home-block h2 {color: #364858}

.home-block {padding: 20px 0;}
.home-block-entry {padding-bottom: 20px;}
.home-block-block {margin-bottom: 20px;}

.avatartwo {width: 100%; margin: 10px auto -10px auto;display:block;}
.specialavatar {position: fixed; bottom 0; right: 0; width: 100px;}
.read-more {font-family: 'freigeistxwide_regular', Helvetica, Arial, sans-serif;}

/*feed*/
.entry {margin-bottom: 30px;}
article.post {padding: 80px 0 30px 0;}

/*button*/
.button {border: 2px solid #11151c; background: #ffbe0b; padding: 12px 8px; box-shadow: 5px 5px #e34a6f, 5px 5px 0 2px #11151c; color: #e34a6f !important; border-radius: 5px; position: relative; top: 0px;left; 0px; text-decoration: none; font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif;}
.button:hover {box-shadow: 5px 5px #e34a6f, 5px 5px 0 2px #11151c; cursor:pointer; top: 5px;left: 5px; box-shadow: 2px 2px #e34a6f, 2px 2px 0 1px #11151c;}

/*forms*/
.revue-form-field {font-family: 'Work Sans', Helvetica, Arial, sans-serif; color: #364858; font-size: 20px; line-height: 28px; font-weight: 300; background:transparent; padding: 12px 8px;margin-bottom: 20px; width: 75%; max-width: 400px; border-radius: 2px; border: 3px solid #3B4859;}
label {font-family: 'Work Sans', Helvetica, Arial, sans-serif; color: #364858; font-size: 20px; line-height: 28px; font-weight: 300; padding-right: 10px; display: inline-block; width: 100px; vertical-align: top; padding-top: 12px;}

.signupholder h5 {margin-bottom:0;}

.emailoctopus-form-row input  {background: #01568e; border: 3px solid #e34a6f; border-radius: 3px; font-family: 'circular', 'Work Sans', Helvetica, Arial, sans-serif; color: #e34a6f; font-size: 20px; padding: 8px 5px; margin-bottom: 10px; width: 100%; max-width: 100%; min-width:300px;}
.emailoctopus-form-row input::placeholder {color: #e34a6f; opacity: 1;}
.emailoctopus-form-row-hp {display:none;}
input:focus {outline: none;}
.emailoctopus-success-message {background: #BF446B; display: inline-block;}

/*landing page*/
.landing h2 {margin-top: 50px; margin-bottom: 50px;}
.landing p { margin-bottom: 25px;}
.landing-footer {margin: 20px auto; display: block; width: 320px;}
.landing-footer li {width: 64px!important; float: left; font-size: 28px; text-align: center;}
.big-bottom {margin-bottom:50px;}
.landing-holder p, .landing-holder h1, .landing-holder h2, .landing-holder h3, .landing-holder h4, .landing-holder h5 {max-width: 700px; margin-left: auto; margin-right: auto;}

/* Contact Page */


/* site page */
.half {width: 100%;}
.left {float:left;}
.right {float:right;}
.site-pink-bg {background:#e34a6f}
.site-red-bg {background: #ff4242}
.site-yellow-bg {background:#ffbe0b}
.site-green-bg {background: #33ca7f}
.site-blue-bg {background: #016FB6;}
.square {width: 100%;position: relative; float: left;}
.square:after {content: "";display: block;padding-bottom: 100%;}
.rectangle {width: 100%; position: relative; float: left;}
.rectangle:after {content: "";display: block;padding-bottom: 50%;}
.site-page-content {position: absolute; width: 100%; height: 100%; padding: 10px;}
.site-list li p {margin-bottom: 5px;}
.site .footer {margin-top: 0;}
.site-colour-block {width: 25%; position: relative; float: left;}
.site-colour-block:after {content: "";display: block;padding-bottom: 100%;}
.site-colour-block .site-page-content p {margin-bottom: 0; position: absolute; bottom: 0; right: 10px; font-size: 10px;}

/* About Page */
.about-block {position: relative; padding: 0 20px;}
.messagebird {background: #0089FF;}
.taxitomessagebird {background: linear-gradient(0deg, rgba(255, 209, 1, 1) 7%, rgba(0, 137, 255, 1) 89%);}
.taxiforemail {background: #ffd101;}

.about .footer {margin-top: 0;}


/*media queries*/

.mobile-hide {display: none;}

@media screen and (min-width: 300px) {
    .logotype a h1 {font-size: 50px; letter-spacing: -4px; line-height: 50px;}
}

@media screen and (min-width: 500px) {
    .logo img {margin: 0 0 20px 0;}
    .footermenu {float: left; width: 100%;}
    .signupholder {float: left; width: 50%;}
}

@media screen and (min-width: 750px) {
    .logo img {margin: 0 0 20px 0;}
    .footermenu {float: left; width: 33%;}
    .signupholder {float: left; width: 33%;}
    .logotype a h1 {font-size: 80px; letter-spacing: -5px; line-height: 80px;}
    .menu-button-fixed {position:fixed; bottom:auto; right: 15px; top: 15px;}
    .about-home-block {position: fixed; top: 150px; left: 0; bottom: 0; width: 50%; border-top-right-radius: 25px;z-index:-3;}
    
    .home-block .content {width: 46%; margin:-30px 0 0 52%}
    .logotype {position: fixed; top: 0; right: 0; left: 0;}
    .big-left-card {float: left; width: 58%; margin: 20px 0; margin-left: 2%; background: #55DDE0; border-radius: 25px; padding: 50px;}
    .small-right-card {float: right; width: 40%; margin: 20px 0; padding: 50px;}
   
    .mobile-hide {display: block;}

    .site-colour-block .site-page-content p {font-size: 14px;}
    
}

@media screen and (min-width: 900px) {
    .panel ul li a {padding: 8px 12px;}
    .half {width: 50%;}
}
