/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*,*:before,*:after{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;-webkit-appearance: none;}
input[type="text"], input[type="password"], textarea, select {outline: none;}
.clear {clear:both;}
* {max-width: 100%;scroll-behavior: smooth;}

/*fonts*/
/*New 2023 headlines*/
@font-face {
    font-family: 'freigeistxwide_bold';
    src: url('https://www.benhubbard.co.uk/assets/css/rene_bieder_freigeist_xwide_bold-webfont.woff2') format('woff2'),
         url('https://www.benhubbard.co.uk/assets/css/rene_bieder_freigeist_xwide_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freigeistxwide_regular';
    src: url('https://www.benhubbard.co.uk/assets/css/rene_bieder_freigeist_xwide_reg-webfont.woff2') format('woff2'),
         url('https://www.benhubbard.co.uk/assets/css/rene_bieder_freigeist_xwide_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*New 2023 body*/
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');


/*main arcitecture*/
html {background:#fcf7ff;}
a {font-family: 'Work Sans', Helvetica, Arial, sans-serif; color: #f26419; font-weight: 300;}
h1 {font-family: 'freigeistxwide_bold', Helvetica, Arial, sans-serif; color: #364858; font-size: 52px; line-height: 60px; margin-bottom: 20px; letter-spacing: -4px;}
h2 {font-family: 'freigeistxwide_bold', Helvetica, Arial, sans-serif; color: #364858; font-size: 44px; line-height: 52px; margin-bottom: 20px; letter-spacing: -3px;}
h3 {font-family: 'freigeistxwide_regular', Helvetica, Arial, sans-serif; color: #364858; font-size: 36px; line-height: 44px; margin-bottom: 20px; letter-spacing: -3px;}
h4 {font-family: 'freigeistxwide_regular', Helvetica, Arial, sans-serif; color: #364858; font-size: 28px; line-height: 36px; margin-bottom: 20px; letter-spacing: -2px;}
h5 {font-family: 'freigeistxwide_regular', Helvetica, Arial, sans-serif; color: #364858; font-size: 20px; line-height: 28px; margin-bottom: 20px; letter-spacing: -2px;}
p {font-family: 'Work Sans', Helvetica, Arial, sans-serif; color: #364858; font-size: 20px; line-height: 28px; margin-bottom:20px; font-weight: 300;}
h2 a {font-family: 'freigeistxwide_bold', Helvetica, Arial, sans-serif; color: #364858;}
li {font-family: 'Work Sans', Helvetica, Arial, sans-serif; color: #e66c55;font-weight: 300;}
strong {font-family: 'Work Sans', Helvetica, Arial, sans-serif; font-weight: 500}
.small {font-size: 80%}
h4 a {text-decoration: none;}
::-moz-selection { background: #BF446B;}
::selection { background: #BF446B;}

/*content*/
.content {width: 95%; max-width:900px; margin: 0 auto; padding: 10px 0 20px 0;}
.content-alt {width: 95%; max-width:900px; margin: 0 auto; padding: 10px 0 20px 0;}
.centre {text-align:center;}

/*header*/
.header {margin-bottom: 0;}
.logotype a {text-decoration: none;}
.logotype a h1 {color: #2F4858; margin-left: 20px; font-size: 150px; line-height: 150px; letter-spacing: -9px;margin-top: 40px;}
.logotypebackground {background: #fcf7ff;-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */-moz-animation: fadein 2s; /* Firefox < 16 */-ms-animation: fadein 2s; /* Internet Explorer */-o-animation: fadein 2s; /* Opera < 12.1 */animation: fadein 2s;}

@keyframes fadein {from { opacity: 0; } to { opacity: 1; }}
/* Firefox < 16 */@-moz-keyframes fadein {from { opacity: 0; } to { opacity: 1; }}
/* Safari, Chrome and Opera > 12.1 */@-webkit-keyframes fadein {from { opacity: 0; } to { opacity: 1; }}
/* Internet Explorer */ @-ms-keyframes fadein {from { opacity: 0; } to { opacity: 1; }}
/* Opera < 12.1 */ @-o-keyframes fadein {from { opacity: 0; } to   { opacity: 1; }}

/*old logo css*/
.logo img {height: 150px; margin: 0 auto 20px auto; display:block;}
.logo {margin-bottom: 10px;}

/* menu - bigslide*/
.panel {position: fixed; right: -100%; width: 100%; background: #f26419; padding: 20px; z-index:5;}
.panel ul li {width: 100%; margin-bottom: 10px;}
.panel ul li a {color: #F6AE2D; text-decoration: none; padding: 8px 0; font-family: 'freigeistxwide_regular', Helvetica, Arial, sans-serif; font-size: 28px; line-height: 36px; letter-spacing:-1px;}
.new-menu-link {font-family: 'freigeistxwide_regular', Helvetica, Arial, sans-serif; font-size: 20px; line-height: 28px; text-decoration: none; color: #F6AE2D; letter-spacing:-1px;}
.new-menu-button {display: block; background: transparent; padding: 5px; border-radius: 3px;}
.menu-button-absolute {position: absolute; top: 20px; right: 20px;}
.menu-button-fixed {position:fixed; bottom:20px; right: 20px;}
.wrap {position: relative;}
.socials {position: absolute; bottom: 40px;}
.socials li {width: 48px!important; margin-right: 10px; float: left; }

/*footer*/
.footer {background: #3B4859; padding: 40px; text-align: left; margin-top: 25px;}
.footermenu {padding-bottom: 20px;}
.footermenu ul li {margin-bottom: 10px;}
.footermenu ul li a {text-decoration: none; font-size: 20px;}
.footermenu h4, .footermenu .small, .signupholder h4, .signupholder .small {color: #f26419;}
.footer .copy {color: #F6AE2D;}
.signupholder {margin-bottom: 10px;}

/* Strcuture */

.big-left-card {float: left; width: 60%; margin: 20px 0; background: #55DDE0; border-radius: 10px; padding: 50px;}
.small-right-card {float: right; width: 40%; margin: 20px 0; padding: 50px;}

/* homepage*/
.about-home-block {padding: 20px; background: #3B4859;padding-bottom:40px;}
.about-home-block p, .about-home-block h2 {color: #F6AE2D}

.home-block {padding: 20px 0;}
.home-block-entry {padding-bottom: 20px;}
.home-block-block {margin-bottom: 20px;}
.avatar {max-width: 300px; width: 100%; margin: 10px auto -30px auto;display:block;}
.avatartwo {width: 100%; margin: 10px auto -10px auto;display:block;}
.read-more {font-family: 'freigeistxwide_regular', Helvetica, Arial, sans-serif;}

/*feed*/
.entry {margin-bottom: 30px;}
article.post {padding: 160px 0 30px 0;}

/*button*/
.button {border: 2px solid #11151c; background: #55DDE0; padding: 12px 8px; box-shadow: 5px 5px #BF446B, 5px 5px 0 2px #11151c; color: #BF446B !important; border-radius: 5px; position: relative; top: 0px;left; 0px; text-decoration: none; font-family: 'Work Sans', Helvetica, Arial, sans-serif;}
.button:hover {box-shadow: 5px 5px #BF446B, 5px 5px 0 2px #11151c; cursor:pointer; top: 5px;left: 5px; box-shadow: 2px 2px #BF446B, 2px 2px 0 1px #11151c;}

/*forms*/
.revue-form-field {font-family: 'Work Sans', Helvetica, Arial, sans-serif; color: #364858; font-size: 20px; line-height: 28px; font-weight: 300; background:transparent; padding: 12px 8px;margin-bottom: 20px; width: 75%; max-width: 400px; border-radius: 2px; border: 3px solid #3B4859;}
label {font-family: 'Work Sans', Helvetica, Arial, sans-serif; color: #364858; font-size: 20px; line-height: 28px; font-weight: 300; padding-right: 10px; display: inline-block; width: 100px; vertical-align: top; padding-top: 12px;}

.signupholder h5 {margin-bottom:0;}

.emailoctopus-form-row input  {background: #33658A; border: 3px solid #55DDE0; border-radius: 3px; font-family: 'Work Sans', Helvetica, Arial, sans-serif; color: #55DDE0; font-size: 20px; padding: 8px 5px; margin-bottom: 10px; width: 100%; max-width: 100%; min-width:300px;}
.emailoctopus-form-row input::placeholder {color: #55DDE0; opacity: 1;}
.emailoctopus-form-row-hp {display:none;}
input:focus {outline: none;}
.emailoctopus-success-message {background: #BF446B; display: inline-block;}

/*landing page*/
.landing h2 {margin-top: 50px; margin-bottom: 50px;}
.landing p { margin-bottom: 25px;}
.landing-footer {margin: 20px auto; display: block; width: 320px;}
.landing-footer li {width: 64px!important; float: left; font-size: 28px; text-align: center;}
.big-bottom {margin-bottom:50px;}
.landing-holder p, .landing-holder h1, .landing-holder h2, .landing-holder h3, .landing-holder h4, .landing-holder h5 {max-width: 700px; margin-left: auto; margin-right: auto;}

/* Contact Page */


/*media queries*/

@media screen and (min-width: 300px) {
    .logotype a h1 {font-size: 50px; letter-spacing: -4px; line-height: 50px;}
}

@media screen and (min-width: 500px) {
    .logo img {margin: 0 0 20px 0;}
    .footermenu {float: left; width: 100%;}
    .signupholder {float: left; width: 50%;}
}

@media screen and (min-width: 750px) {
    .logo img {margin: 0 0 20px 0;}
    .footermenu {float: left; width: 33%;}
    .signupholder {float: left; width: 50%;}
    .logotype a h1 {font-size: 80px; letter-spacing: -5px; line-height: 80px;}
    .menu-button-fixed {position:fixed; bottom:auto; right: 20px; top: 20px;}
    .about-home-block {position: fixed; top: 150px; left: 0; bottom: 0; width: 50%; border-top-right-radius: 25px;z-index:-3;}
    .avatar {position: fixed; bottom: 0; z-index:4;}
    .home-block .content {width: 46%; margin:130px 0 0 52%}
    .logotype {position: fixed; top: 0; right: 0; left: 0;}
}

@media screen and (min-width: 900px) {
    .footermenu {float: left; width: 33%;}
    .signupholder {float: left; width: 25%;}
    .panel ul li a {padding: 8px 12px;}
}
